nav.navbar.navbar-expand.navbar-light.bg-light
    a.navbar-brand= header.logo
    .navbar-nav.navbar-expand.mr-auto
        a.nav-item.nav-link(href= navItems[0].href)= navItems[0].name
        a.nav-item.nav-link(href= navItems[1].href)= navItems[1].name