.spy-container {
    display: flex;
    border: solid #f8f9fa;
    padding: 20px;
}

.spy-items-container {
    margin-right: 20px;
}

.spy-items {
    list-style-type: none;
    padding-left: 0;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(0,0,0,.125);
    height: 160px;
    justify-content: space-around;
}

.spy-item {
    border-top: 1px solid rgba(0,0,0,.125);
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    height: 100%;
    padding-top: auto;
    padding-bottom: auto;
}

.spy-item:hover {
    background-color: #f1f1f1;
}

.spy-items:first-child {
    border-top: 1px solid transparent;
}

.spy-content {
    height: 160px;
    overflow-y: scroll;
}